        <div class="container">
    <h2>Patents</h2>
    

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Inventors</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="patent in patents">
                <td><a href="#!/patents/{{patent.idPatent}}">{{patent.title}}</a></td>
                <td>{{patent.date}}</td>
                <td>{{patent.inventors}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deletePatent(patent.idPatent)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <br/>
    <!-- <h2>Search</h2>  
    
    <b>Title: </b><input ng-model="tosearch.title" />
    <br/>
    <b>Date: (YYYY-MM-DD)</b><input ng-model="tosearch.date" />
    <br/>
    <b>Inventors: </b><input ng-model="tosearch.inventor" />
    <br/>
    -->
    <div>
        {{error}}
        
    </div>
    <b>Search: </b><input ng-model="tosearch.search" />
    <button class="btn btn-warning" ng-click="searchPatents()">Search</button>
    
    <br/>
    <br/>
    <button class="btn btn-success" onclick="location.href='#!/create';">Create patent</button>
    <br/>
     <button class="btn btn-info" onclick="location.href='#!/graph';">Statistics</button>
    </div>
    