    <h2>Patents</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Inventors</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input ng-model="newPatent.title" /></td>
                <td><input ng-model="newPatent.date" /></td>
                <td><input ng-model="newPatent.inventors" /></td>
                <td>
                    <button class="btn btn-primary" ng-click="addPatent()">Add</button>
                </td>
            </tr>
            <tr ng-repeat="patent in patents">
                <td><a href="#!/patents/{{patent.idPatent}}">{{patent.title}}</a></td>
                <td>{{patent.date}}</td>
                <td>{{patent.inventors}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deletePatent(patent.idPatent)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
